%head
	%meta{:charset => "utf-8"}
	%title RMS Coach Web Manuals
	%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
	%meta{:content => "RealTime Music Solutions", :name => "description"}

	= Haml::Engine.new(File.read('../components/views/partials/head_content.haml')).render