<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='http://rms.biz/media/js/foundation.min.js'></script>
<script>
  $(document).foundation();
</script>
<footer class='footer-container'>
  <div class='footer-left medium-3 large-4 columns'>
    <p>
      <span>Site by:</span>
      <a href='http://www.xiri.io' target='blank'>xiri.io</a>
    </p>
  </div>
  <div class='footer-middle medium-6 large-4 columns'>
    <p>Copyright © 2015, Realtime Music Solutions. All rights reserved.</p>
  </div>
  <div class='footer-right medium-3 large-4 columns'></div>
  <a class='btn btn-info btn-mini' href='/contact' id='footerBTN'><i class='fa fa-envelope'></i>Email Us
  </a>
</footer>
<!-- END .footer-container -->
<!-- LOADING JAVASCRIPT -->
<script src='../js/application.js'></script>
