<head>
  <meta charset='utf-8'>
  <title>RMS Coach Web Manuals</title>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='RealTime Music Solutions' name='description'>
  <!-- Below are stylesheets coming from the shared styles on production site -->
  <link href='http://rms.biz/media/css/foundation.min.css' rel='stylesheet'>
  <link href='http://rms.biz/media/css/styles.min.css' rel='stylesheet'>
  <!-- Below is the static page/stationary specific CSS and override styles -->
  <link href='../css/application.css' rel='stylesheet'>
  <!-- META TAGS -->
  <meta content='Realtime Music Solutions - Innovation For The Arts' name='abstract'>
  <meta content='Sinfonia, OrchExtra, InstrumentalEase, RMS Coach, RehearScore, AccompanEase, RMS Keyboards, Keyboard Patch Solutions, KeyboardEase, RMS Mix, MT Pit, Sides, Scene Partner, Music Theatre International, MTI, Rodgers and Hammerstein, Rodgers &amp; Hammerstein, R&amp;H, RnH, Tracks, Orchestral Tracks, Virtual Orchestra' name='classification'>
  <meta content='all, index, follow' name='googlebot'>
  <meta content='2 days' name='revisit'>
  <meta content='2 days' name='revisit-after'>
  <meta content='all, index, follow' name='robots'>
  <meta content='Sinfonia, OrchExtra, InstrumentalEase, RMS Coach, RehearScore, AccompanEase, RMS Keyboards, Keyboard Patch Solutions, KeyboardEase, RMS Mix, MT Pit, Sides, Scene Partner, Music Theatre International, MTI, Rodgers and Hammerstein, Rodgers &amp; Hammerstein, R&amp;H, RnH, Tracks, Orchestral Tracks, Virtual Orchestra' name='subject'>
  <meta content='&lt;title&gt;Realtime Music Solutions&lt;/title&gt;' name='title'>
  <meta content='Copyright © 2015, Realtime Music Solutions. All rights reserved.' name='copyright'>
  <meta content='Technology that enhances productions, empowers performers, and enthralls audiences.' name='description'>
  <meta content='Sinfonia, OrchExtra, InstrumentalEase, RMS Coach, RehearScore, AccompanEase, RMS Keyboards, Keyboard Patch Solutions, KeyboardEase, RMS Mix, MT Pit, Sides, Scene Partner, Music Theatre International, MTI, Rodgers and Hammerstein, Rodgers &amp; Hammerstein, R&amp;H, RnH, Tracks, Orchestral Tracks, Virtual Orchestra' name='keywords'>
  <meta content='text/html; charset=ISO-8859-1' name='content-type'>
  <!-- BEGIN Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <!-- END Google Fonts -->
  <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
</head>
